extends layout

block content
    if (!user)
        a.btn.btn-default(href="/login") Login

        a.btn.btn-default(href="/register") Register
    if (user)
        p You are currently logged in as
            b  #{user.username}
        p View current exchange rates:
             a.btn.btn-default(href="/rates") Rates
        p Get rates for USD or EUR only:
             a.btn.btn-default(href="/currency/usd") USD
             a.btn.btn-default(href="/currency/eur") EUR
        p Get rates for particular date (/date/25-1-2017):
             a.btn.btn-default(href="/date/25-1-2017") Date Rates
        a(href="/logout") Logout